<header class="header">
  <div class="header__brand">
    <div class="header__brand__logotype">
      {{ partial "logotype.svg" }}
    </div>

    <h1 class="header__brand__title sr-only">{{ .Site.Title }}</h1>
  </div>

  {{ partial "navigation" . }}

  <div class="header__lang">
    {{ range .Site.Languages }}
      {{ if eq .Lang $.Site.Language.Lang }}
      {{ else }}
        <a class="header__lang__link" href="/{{ .Lang }}">{{ .LanguageName }}</a>
      {{ end }}
    {{ end }}
  </div>
</header>
