@import './_variables.css';
:root {
  --animation-duration: 1s;
}

.logo {
  display: block;
  width: 100%;
}

.logo__circle,
.logo__wave {
  fill: none;
  stroke-width: 12.5;
}

.js-addAnimate {
  opacity: 0;
}

.animate {
  opacity: 1;

  & .logo__circle,
  & .logo__wave,
  & .logo__letter,
  & .logo__dot {
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-play-state: running;
    transform-origin: 50% 50%;
  }

  & .logo__circle,
  & .logo__wave {
    animation-name: logoLines;
  }

  & .logo__circle {
    stroke-dasharray: 590;
    stroke-dashoffset: 590;
    transform: rotate(270deg);
  }

  & .logo__wave {
    stroke-dasharray: 165;
    stroke-dashoffset: 165;
    animation-delay: calc(var(--animation-duration) * 0.55);
  }

  & .logo__letter {
    animation-name: logoLetter;
    animation-delay: calc(var(--animation-duration) * 1.2);
  }

  & .logo__dot {
    animation-name: logoDot;
    animation-delay: calc(var(--animation-duration) * 1.4);
  }
}

@keyframes logoLines {
  to { stroke-dashoffset: 0; }
}

@keyframes logoLetter {
  from {
    opacity: 0;
    transform: translate3d(0, 105%, 0);
  }

  20% { opacity: 1; }

  40% { transform: translate3d(0, -5%, 0); }

  to {
    transform: translateY(0);
  }
}

@keyframes logoDot {
  from {
    opacity: 0;
    transform: translate3d(0, 300%, 0);
  }

  25% { opacity: 1; }
  40% { transform: translate3d(0, -20%, 0); }
  to { transform: translate3d(0, 0, 0); }
}
