:root {
  --js-navigation-decoration-width: 0;
  --js-navigation-decoration-offset: 0;
  --nav-underline-height: 3px;
}

.navigation {
  margin-left: var(--ms4);
}

.navigation__list {
  &::after {
    content: "";
    position: absolute;
    top: calc(var(--header-height) - var(--nav-underline-height));
    left: var(--js-navigation-decoration-offset);
    width: var(--js-navigation-decoration-width);
    height: var(--nav-underline-height);
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
  }
}

.navigation__item {
  display: inline-block;
  margin-right: var(--ms1);
  font-size: var(--ms0);

  &:last-of-type {
    margin-right: 0;
  }
}

.navigation__link {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}
