{{ define "main" }}
  {{ partial "jumbotron" . }}
  {{ range .Data.Pages }}
    <section id="{{ .Title | urlize }}" class="section js-scrollAnchor">
      <div class="section__content{{ if isset .Params "specs" }} js-sectionContent{{ end }}">
        {{ .Content }}
        {{ if isset .Params "specs" }}
          <div class="section__specsButton section__specsButton-show">
            <button class="button js-toggleSpecs" type="button">
              {{ i18n "specs-show" }}
              <div class="svg-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                </svg>
              </div>
            </button>
          </div>
        {{ end }}
      </div>

      {{ if isset .Params "specs" }}
        <div class="section__specs section__hidden js-sectionSpecs">
          {{ partial "specs" . }}
          <div class="section__specsButton section__specsButton-hide">
            <button class="button js-toggleSpecs" type="button">
              <div class="svg-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
                </svg>
              </div>
              {{ i18n "specs-hide" }}
            </button>
          </div>
        </div>
      {{ end }}
    </section>
    <div class="section__divider"></div>
  {{ end }}
{{ end }}
